body {
    margin: 20px auto;
    text-align: center;
    overflow: hidden;
}

nav a {
    color: green;
    font-size: 2em;
    margin-left: 50px;
    text-decoration: none;
}

#gameContainer {
    border: 2px;
    border-color: black;
    font-family: 'Typographica', 'PixelFont', Arial, Helvetica, sans-serif;
}

#matter-container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

@font-face {
    font-family: "Typographica";
    src: url("/static/fonts/Typographica.ttf");
}

@font-face {
    font-family: "PixelFont";
    src: url("/static/fonts/PixelFont.ttf");
}