:root {
    --primary-color: rgb(172, 203, 255);
    --secondary-color: rgb(35, 42, 54);
    --accent-color: rgb(45, 139, 45);
}

.dark-mode {
    --primary-color: var(--secondary-color);
    --secondary-color: var(--primary-color);
}

body {
    margin: 20px auto;
    text-align: center;
    overflow: hidden;
    background-color: var(--primary-color);
}

body a {
    color: var(--secondary-color);
    text-decoration: none;
    font-size: x-small;
}

body a:hover {
    box-shadow: 0 0 10px var(--secondary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
}

#navBar a{
    color: var(--secondary-color);
    font-size: 1em;
    margin-left: 50px;
    text-decoration: overline underline;
    font-family: 'PixelFont', Arial, Helvetica, sans-serif;
}

#navBar a:hover{
    box-shadow: none;
    border: none;
}

h1, h2, h3, h4 {
    color: var(--secondary-color);
}

#signupPage,
#loginPage {
    font-family: 'PixelFont', Arial, Helvetica, sans-serif;
    color: var(--secondary-color);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#loginPage input,
#signupPage input {
    color: var(--secondary-color);
    background-color: transparent;
}

#loginPage input:-webkit-autofill,
#signupPage input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
    -webkit-text-fill-color: inherit !important;
}

#loginPage form {
    max-width: 100px;
    margin: 0 auto;
}

#loginPage form button,
#signupPage form button {
    color: var(--secondary-color);
    font-family: 'PixelFont', Arial, Helvetica, sans-serif;
    background-color: transparent;
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
    margin: 10px;
    padding: 4px;
}

#loginPage form button:hover,
#signupPage form button:hover {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border: 1px solid transparent;
    box-shadow: 0 0 10px var(--secondary-color);
}

#loginPage label,
#signupPage label {
    display: block;
    margin-bottom: 5px;
    white-space: nowrap;
}

#signupPage form input {
    display: inline-block;
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
    background-color: transparent;
    box-shadow: 0 0 10px var(--secondary-color);
    font-family: 'PixelFont', Arial, Helvetica, sans-serif;
}

#loginPage form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
    background-color: transparent;
    box-shadow: 0 0 10px var(--secondary-color);
    font-family: 'PixelFont', Arial, Helvetica, sans-serif;
}

@keyframes shake {

    0%,
    100% {
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-10px);
    }

    20%,
    40%,
    60%,
    80% {
        transform: translateX(10px);
    }
}

.flashes {
    margin: 10px;
    padding: 10px;
    position: relative;
    background-color: #ffcccc;
    border: 1px solid #ff6666;
    color: rgb(204, 0, 0);
    border-radius: 5px;
    list-style: none;
    max-width: fit-content;
    text-align: center;
    box-shadow: 0 0 10px rgba(255, 164, 164, 0.892);
    animation: shake 0.5s ease-in-out;
}

.flashes.animate-once {
    animation: shake 0.5s ease-in-out;
}

#gameContainer {
    font-family: 'Typographica', 'PixelFont', Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

#matter-container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

@font-face {
    font-family: "Typographica";
    src: url("/static/fonts/Typographica.ttf");
}

@font-face {
    font-family: "PixelFont";
    src: url("/static/fonts/PixelFont.ttf");
}

#gameOverPrompt {
    position: absolute;
    width: 200px;
    height: 80px;
    font-family: 'PixelFont', Arial, Helvetica, sans-serif;
    font-size: large;
    color: var(--accent-color);
    top: 30%;
    text-align: center;
    background-color: transparent;
    border-radius: 10px;
    padding-top: 10px;
}

#gameOverPrompt button {
    border-radius: 10%;
    margin-top: 10px;
    width: fit-content;
    height: 30px;
    font-family: 'PixelFont', Arial, Helvetica, sans-serif;
    background-color: var(--accent-color);
}

#themeButtons {
    position: absolute;
    right: 2px;
    bottom: 2px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#colorSwap,
#colorChanger {
    padding: 5px;
    margin: 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    overflow: hidden;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#colorChanger {
    background: conic-gradient(
        from 0deg,
        red, yellow, lime, cyan, blue, magenta, red
    );
    border: 1px solid var(--secondary-color);
}

#colorChanger:hover {
    animation: spin 0.5s linear infinite;
}
    
#colorSwap {
    background-color: var(--primary-color);
    border: 4px solid var(--secondary-color);
}

#colorSwap:hover {
    background-color: var(--secondary-color);
    border: 4px solid var(--primary-color);
}