<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %} - FlaskApp</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
</head>
<body id="loginPage">
    <h1>Enter Your Credentials</h1>
    {% if error %}
    <p class=error><strong>Error:</strong> {{error}} 
        {% endif %}
        <form method="post" action="{{ url_for('auth.login') }}">
            <label for="username">Username</label>
            <input type="text" id="username", name="username"><br>
            <label for="password">Password</label>
            <input type="text" id="password", name="password" autocomplete="off"><br>
            <input type="hidden" name="next" value="{{ request.args.get('next') }}">
            <button type="submit">Log In</button>
        </form>
        {% with messages = get_flashed_messages(with_categories=false) %}
        {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <a href="{{ url_for('auth.register') }}">Don't have an account?</a>
        <div id="themeButtons">
            <button type="button" id="colorSwap">
            <button type="button" id="colorChanger">
        </div>
    <script src="{{ url_for('static', filename='css/theme.js') }}"></script>
</body>
</html>